{% set footerContent = false %}
{% set sectionId = "footer" %}

<footer class="jam11ty-section{% if sectionId %}--{{ sectionId | lower | replace(' ', '-') }}{% else %}--footer{% endif %}" 
role="contentinfo" style="--background:var(--color-tertiary);--padding: 2rem;--text-color: white;">
{% if footerContent %}
    {% if theme.footer.menus %}
    {% for item in theme.footer_menus.menu %}
    <ul class="grid__wrapper" style="--column-count: 1fr">
        {% for footer_menus in menu %}
        <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}
    <ul class="grid__wrapper" style="--column-count:1fr 1fr;"> 
        <li class="grid__column">
            {%- include "snippets/logo.njk" -%}
        </li>
    </ul>  
    <ul class="grid__wrapper" style="--column-count: 1fr"> 
        <li class="grid__column">
            <ul>
                {%- if disclaimer.items -%}
                {%- for item in disclaimer.items -%}
                <li>
                    <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
                </li>
                {%- endfor -%}
                {%- endif -%}
                <li>
                    {%- include "snippets/copyright.njk" -%}
                </li>
            </ul>
        </li>
    </ul>
    {% else %}
    <ul class="grid__wrapper" style="--column-count: 1fr"> 
        <li class="grid__column">
            {%- include "snippets/copyright.njk" -%}
        </li>
    </ul>
{% endif %}
</footer>

<script src="/static/scripts.js" defer></script>

{% include "assets/inlineJS.njk" %}

