<footer class="component-footer" role="contentinfo" aria-label="{{ aria }}">
  {% if theme.footer.wrapper == true %}
  <ul class="grid__wrapper footer__top" style="--column-count: repeat(4, 1fr); padding: 3rem 0;">
    <li>
        <ul>
        {%- if menus.main -%}
        {%- for item in menus.main -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.learn -%}
        {%- for item in menus.learn -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.support -%}
        {%- for item in menus.support -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.social -%}
        {%- for item in menus.social -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
  </ul>
  {% endif %}
  {% if theme.footer.copyright == true %}
  <ul class="grid__wrapper footer__bottom" style="--column-count: 1fr 2fr">
    <li>{%- include "snippets/copyright.njk" -%}</li>
    <li>
        <ul>
        {%- if menus.disclaimer -%}
        {%- for item in menus.disclaimer -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
  </ul>
  {% endif %}
</footer>

{# WebComponents #}
<script type="module" src="/static/webComponents/esm-side-drawer.min.js"></script>
<script nomodule src="/static/webComponents/iife-side-drawer.min.js"></script>
<script type="module" src="/static/webComponents/esm-wc-menu-button.js"></script>

<script>
  (function loadSidedrawer() {
    const menuButton = document.getElementById("menuButton");
    const drawer = document.querySelector("#drawer");
    menuButton.addEventListener("opened", ev => {
      drawer.open = true;
    });
    drawer.addEventListener("open", ev => {
      menuButton.open = true;
    });
    drawer.addEventListener("close", ev => {
      menuButton.open = false;
    });
  })();
</script>

<script src="/static/scripts.js" defer></script>

{% include "assets/inlineJS.njk" %}

