
{# Settings ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{%- set footer = {       
        aria: 'footer',
        background: '#000000',
        color: '#FFF',
        linkColor: '#FFF',
        wrapper: true,
        wrapper_grid: '--column-count: repeat(3, 1fr)',
        copyright: true,
        padding: "2rem"
    }
-%}

{# Styles ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
<style>
#footer {
    --footer-padding: {{ footer.padding }};
    --footer-background: {{ footer.background }};
    --footer-text-color: {{ footer.color }};
    --footer-link-color: {{ footer.linkColor }};
	  padding: var(--footer-padding) 0;
    background: var(--footer-background) ;
}

#footer * {
    color: var(--footer-text-color);
}
#footer a {
    color: var(--footer-link-color);
}

.footer__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #ddd;
}

.footer__bottom ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	width: 100%;
}
</style>

{# Content ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set content %}
  {% if footer.wrapper == true %}
  <ul class="grid__wrapper footer__top" style="--column-count: repeat(4, 1fr); padding: 3rem 0;">
    <li>
        <ul>
        {%- if menus.main -%}
        {%- for item in menus.main -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.learn -%}
        {%- for item in menus.learn -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.support -%}
        {%- for item in menus.support -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
    <li>
        <ul>
        {%- if menus.social -%}
        {%- for item in menus.social -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
  </ul>
  {% endif %}
  
  {% if footer.copyright == true %}
  <ul class="grid__wrapper footer__bottom" style="--column-count: 1fr 2fr">
    <li>
      {%- include "snippets/copyright.njk" -%}
    </li>
    <li>
        <ul>
        {%- if menus.disclaimer -%}
        {%- for item in menus.disclaimer -%}
        <li>
            <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
        </ul>
    </li>
  </ul>
  {% endif %}
{% endset %}


{# Template ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
<footer id="footer" role="contentinfo" aria-label="{{ footer.aria }}" 
{% if footer.background or footer.color or footer.linkColor or footer.padding %}
  style="--footer-background: {{ footer.background }};--footer-text-color: {{ footer.color }}; --footer-link-color: {{ footer.linkColor }}; --footer-padding: {{ footer.padding }};
{% endif %}">
  {{ content | safe }} 
</footer>

<script src="/static/scripts.js" defer></script>

{% include "assets/inlineJS.njk" %}

