{# Settings ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set section = { 
        title: 'Image With Text',
        background: '',
        color: '',
        grid: '--column-count: repeat(2, 1fr)'   
    }
%}

{# Content ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set wrapper %}
    <li class="grid__column">
        {%- include "snippets/placeholder-image.njk" -%}
    </li>
    <li class="grid__column">
        <h2>{{ section.title  }}</h2>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, suntin culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a ref="/" class="link">Learn More 	&#8594;</a>
    </li>
{% endset %}


{# Template ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
<section id="jam11ty-section-image-with-text" class="section-image-with-text" {% if section.background or section.color %} style="--section-background: {{ section.background | safe }};--section-color: {{ section.color | safe }};"{% endif %}>
    <ul class="grid__wrapper" style="{{ section.grid  }}">
	   {{ wrapper | safe }} 
    </ul>
</section>