{# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
#
#  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set sectionId = "Card Collection" %}

<section class="jam11ty-section{% if sectionId %}--{{ sectionId | lower | replace(' ', '-')}}{% endif %}" style="--background:var(--color-secondary);">
    <h2 class="grid__title">{{ sectionId }}</h2>
    <ul class="grid__wrapper" style="--column-count: repeat(3, 1fr)">
		{%- for item in metafields.card -%}
        <li class="grid__column">
            <div class="card">
                {%- include "snippets/placeholder-image.njk" -%}   
                <h3>{{ item.headline}}</h3>
                <p>{{ item.desciption}}</p>
            </div>
        </li>
        {%- endfor -%}
    </ul>
</section>

