

<article class="grid__wrapper">

    <main>{{ content | safe }}</main>

    <aside>SIDEBAR</aside>
    
    {% if tags %}
    <footer>
        <h3>Filed under</h3>
        <ul>
            {% for item in tags %}
            <li class="">
                <a href="/tags/{{ tags }}">{{ tags }}</a>
            </li>
            {% endfor %}
        </ul>
    </footer>
    {% endif %}

</article>


