

<article class="grid__wrapper">

    <div>
    {{ content | safe }}
    </div>

    <aside></aside>
    
    {% if tags %}
    <footer>
        <h3>Filed under</h3>
        <ul>
            {% for item in tags %}
            <li class="">
                <a href="/tags/{{ item }}">{{ item }}</a>
            </li>
            {% endfor %}
        </ul>
    </footer>
    {% endif %}

</article>


