---
headline: "The Headline"
---
<section id="{{ section.name }}" class="section" aria-labelledby="section-name">
    <ul class="grid">
        <li class="grid__column">
            <div class="grid__cell">
                <h1 id="section-name">{{ section.name }}</h1>
            </div>
        </li>
    </ul>
</section>