{% set postListItems = collections.postFeed %}

<section class="section">
    <ul class="grid"> 
        <li class="grid__column"> 
            <div class="grid__cell"> 
                {% include "snippets/post-list.njk" %}
            </div>
            <div class="grid__column"> 
                {% include "snippets/pagination.njk" %}
            </div>
        </li>
    </ul>
</section>
