
<script type="module">import "./side-drawer"; </script>

<nav class="component-navbar navbar" role="navigation" aria-label="{{ aria }}">
  <ul class="navbar_wrapper">
    <li class="logo">
      <h1>
        <a href="/">
          {% if theme.logo.img %}
          <img src="logo.pg" alt="{{ site.name }}">
          {% else %}
          <span> {{ site.name }} </span>
          {% endif %}
        <a>
      </h1>
    </li>
    <li class="menuList">
      {% if menus.main %}
      <ul class="menu-1">
        {% for item in menus.main %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if menus.secondary == false %}
      <ul class="menu-2">
        {% for item in menus.secondary %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if menus.tertiary == false  %}
      <ul class="menu-3 ">
        {% for item in menus.tertiary %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
     <li class="hamburger">
      <wc-menu-button id="menuButton"></wc-menu-button>
    </li>
  </ul>
</nav> 

<side-drawer id="drawer">
  <ul class="drawer-container">
    <li class="drawer__menu">
      {% if menus.main %}
      <ul class="menu-1">
        {% for item in menus.main %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if menus.secondary != false %}
      <ul class="menu-2">
        {% for item in menus.secondary %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if menus.tertiary != false  %}
      <ul class="menu-3">
        {% for item in menus.tertiary %}
          {% set relAttribute = '' %}
          {% set currentAttribute = '' %}
          {% if item.rel %}
            {% set relAttribute = ' rel="' + item.rel + '"' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
          {% endif %}
          <li>
            <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  </ul>
</side-drawer>