

{% if _grid == true %}
    <ul class="grid" style="--column-count: 1fr"> 
        <li class="grid__column">
            <div class="grid__cell">
            {%- include "snippets/logo.njk" -%}
            </div>
        </li>
    </ul>  
    <ul class="grid" style="--column-count: 1fr"> 
        <li class="grid__column">
            <ul>
                {%- if disclaimer.items -%}
                {%- for item in disclaimer.items -%}
                <li class="grid__cell">
                <a href="{{ item.url | url }}" aria-label="{{ item.text }}"> {{ item.text }}</a>
                </li>
                {%- endfor -%}
                {%- endif -%}
                <li class="grid__cell">
                {%- include "snippets/copyright.njk" -%}
                </li>
            </ul>
        </li>
    </ul>
{% endif %}


{% if _copyright == true %}
    {% include "snippets/content-copyright.njk" %}
{% endif %}
