<div class="copyright">
    <small> 
        <span>©<span id="currentYear"></span></span> 
        <span>Copyright {{ site.name }}. MIT License.</span> 
    </small>
</div>

<script>document.getElementById("currentYear").innerHTML = new Date().getFullYear();</script>
