{# Settings ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set hero = { 
        color: '#00000',
        grid: '--column-count: repeat(2, 1fr)'
    }
%}

{# Content ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set content %}
<ul class="grid__wrapper" style="{{ hero.grid }}">
    <li class="grid__column">
        {%- include "snippets/placeholder-cta.njk" -%}
    </li>
    <li class="grid__column">
        {%- include "snippets/placeholder-image.njk" -%}
    </li>
</ul>
{% endset %}

{# Template ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{{ content | safe }} 