<ul class="grid__wrapper" style="--column-count: 1fr 1fr;">
    <li class="grid__column">
        {%- include "snippets/placeholder-cta.njk" -%}
    </li>
    <li class="grid__column">
        {%- include "snippets/placeholder-image.njk" -%}
    </li>
</ul>
