{# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
#
#  
#  
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  



:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: #}

<div class="jam11ty-section jam11ty-section-{{ sectionId }}">
    <ul class="grid" style="--column-count: 1fr 1fr">
        <li class="grid__column">
            <div class="grid__cell">
            {%- include "snippets/placeholder-text.njk" -%}
            </div>
        </li>
        <li class="grid__column">
            <div class="grid__cell">
            {%- include "snippets/placeholder-image.njk" -%}
            </div>
        </li>
    </ul>
</div>