




















{# sample: how to structure a layout

<div class="section__harryPotter">
    <ul class="harryPotter__wrapper">
    
        <li class="harryPotter_item">
            <div class="harryPotter_cell">
                <h1 class="harryPotter-element">Harry Potter Element 1</h1>
            </div>
            <div class="harryPotter_cell">
                <h1 class="harryPotter-element">Harry Potter Element 2</h1>
            </div>
        </li>

         <li class="harryPotter_item">
            <div class="harryPotter_cell">
                <h1 class="harryPotter-element">Harry Potter Element 3</h1>
            </div>
            <div class="harryPotter_cell">
                <h1 class="harryPotter-element">Harry Potter Element 4</h1>
            </div>
        </li>

    </ul>
</div> #}