{# Settings ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set logo = { 
        color: '#00000'
    }
%}

{# Content ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{% set content %}
<a href="/">
{% if logoImg %}
    <img class="logo" src="/images/logo.png"  alt="{{- site.name -}} Logo" title="{{- site.name -}} Logo" width="300">
{% else %}
    <span>{{- site.name -}}</span>
{% endif %}
</a>

{% endset %}

{# Template ::::::::::::::::::::::::::::::::::::::::::::::::::: #}
{{ content | safe }} 