
{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = description + ' - ' + site.description %}

{% set siteTitle = site.name %}

{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
{% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
{% set pageDesc = metaDesc %}
{% endif %}



