
{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = description + ' - ' + site.description %}

{% set siteTitle = site.name %}

{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
{% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
{% set pageDesc = metaDesc %}
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="">

<title>
{{- pageTitle -}}
</title>

{% if pageDesc %}
<meta name="description" content="{{ pageDesc }}" />
{% endif %}

<link rel="canonical" href="{{ currentUrl }}" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>
<link rel="icon" href="/static/favicon.ico" type="image/png"/>

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if socialImage %}  
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}