{% if postListItems.length %}
<ol reversed>
  {% for item in postListItems %}
    {% if item.date.getTime() <= global.now %}
      <li>
        <a href="{{ item.url }}" rel="bookmark">
              <h3>{{ item.data.title }}</h3>
              <p>{{ item.data.excerpt }}</p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ol>
{% endif %}
