
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jam11ty",
  "email": "andrewric86@gmail.com",
  "image": "images/logo.png",
  "url": "https://jam11ty.netlify.app/"
}
</script>






