
---
{
    "template": "blog"
}
---

{%- extends 'layouts/theme.njk' -%}

{# ADD CONTENT :::::::::::::::::::::::::::::::::::::: #}
{%- set content_for_banner -%}
    {%- include "snippets/hero.njk" -%}
{%- endset -%}
{%- set content_for_main -%}
    {%- include "sections/main-blog.njk" -%}
{%- endset -%}

{# SHOW CONTENT :::::::::::::::::::::::::::::::::::::: #}
{% block content_for_banner %}
    {{ content_for_banner | safe }}
{% endblock -%}
{% block content_for_main %}
    {{ content_for_main | safe }}
{% endblock %}



