---
{
    
    "template": "homepage"
}
---

{%- extends 'layouts/theme.njk' -%}

{# ADD CONTENT :::::::::::::::::::::::::::::::::::::: #}
{%- set content_for_banner -%}
    {%- include "snippets/content-hero-image-with-cta.njk" -%}
{%- endset -%}
{%- set content_for_main -%}
    {%- include "sections/main-homepage.njk" -%}
    {%- include "sections/jam11ty-image-collection.njk" -%}
    {%- include "sections/jam11ty-card-collection.njk" -%}
    {%- include "sections/jam11ty-image-with-text.njk" -%}
{%- endset -%}

{# SHOW CONTENT :::::::::::::::::::::::::::::::::::::: #}
{% block content_for_banner %}
    {{ content_for_banner | safe }}
{% endblock -%}
{% block content_for_main %}
    {{ content_for_main | safe }}
{% endblock %}



