---
name: "index"
---

{%- extends 'layouts/theme.njk' -%}

{# Build :::::::::::::::::::::::::::::::::::::: #}
{%- set content_for_banner -%}
    {%- include "snippets/hero-image-with-text.njk" -%}
{%- endset -%}
{%- set content_for_main -%}
    {%- include "sections/main-homepage.njk" -%}
    {%- include "sections/image-collection.njk" -%}
    {%- include "sections/card-collection.njk" -%}
    {%- include "sections/image-with-text.njk" -%}
{%- endset -%}

{# Display :::::::::::::::::::::::::::::::::::::: #}
{% block content_for_banner %}
    {{ content_for_banner | safe }}
{% endblock -%}
{% block content_for_main %}
    {{ content_for_main | safe }}
{% endblock %}