<!doctype html>
<html class="no-js"  lang="{{ locale }}" dir="{{ dir }}">

    <head>

        {%- include "sections/head.njk" -%}

        <style>
        :root {
            --color-theme-primary: {{ theme.colors.primary }};
            --color-theme-secondary: {{ theme.colors.secondary }};
            --color-theme-tertiary:{{ theme.colors.tertiary }};
            --color-theme-quaternary: {{ theme.colors.orange }};
            --color-theme-orange: {{ theme.colors.orange }};
            --color-theme-blue: {{ theme.colors.blue }};
            --color-theme-red: {{ theme.colors.red }};
            --color-theme-green: {{ theme.colors.green }};
            --color-theme-white:{{ theme.colors.white }};
            --color-theme-black:{{ theme.colors.black }};
            --color-theme-light: {{ theme.colors.light }};
            --color-theme-dark:{{ theme.colors.dark }};
            --color-theme-gray: {{ theme.colors.gray }};
            --color-theme-lightgray: {{ theme.colors.lightgray }};
            --color-theme-darkgray:{{ theme.colors.darkgray }};
            --color-theme-link: {{ theme.colors.link }};
            --color-theme-link-state: {{ theme.colors.linkState }};
            --color-theme-shadow: {{ theme.colors.shadow }};
            --theme-max-width: {{ theme.layout.max_width }};
            --theme-gap: {{ theme.layout.gap }};
            
        }
        </style>

        <style>
        @font-face {
            font-family: 'Jam11ty';
            font-style: normal;
            src: url('static/theme.ttf');
            text-rendering: optimizeLegibility;
            font-display: swap;
        }
        </style>

        {{- content_for_head | safe -}}
        
    </head>

    <body id="template-{% if title %}{{- title | lower | replace(' ', '-') -}}{% else %}page{% endif %}">

        <a class="visually-hidden" href="#main" title="skip to content"> {{- theme.metadata.accesibility.skip_to_content | safe }} </a>

        {% include "sections/navigation.njk" %}
        
        {% include "sections/header.njk" %}

        <main id="main" role="main" tabindex="-1">
            {{- content_for_main | safe -}}
        </main>

        {%- include "sections/footer.njk" -%}

        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
        </script> 

        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
        </script>

        <ul class="accesibilityList visually-hidden">
            <li>
                <a class="refresh" title="Refresh Page" href="/">{{- theme.metadata.accesibility.refresh_page | safe }}</a>
            </li>
            <li>
                <a class="scrollup" title="Scroll Up" href="#" > {{- theme.metadata.accesibility.scroll_up_page | safe }} </a>
            </li>
        </ul>

    </body>

</html>