/* navbar component  */

.component-navbar {
    --nav-background: {{ theme.nav.background }};
    --nav-max-width: {{ theme.nav.maxWidth }};
    --nav-justify-content: {{ theme.nav.justify }};
    --nav-padding: {{ theme.nav.padding }};
    --nav-link-color: {{ theme.nav.color }};
    --nav-menu-link-color: {{ theme.nav.menu.color }};
    --nav-menu-link-fontSize: {{ theme.nav.menu.fontSize }};
    --nav-menu-link-fontWeight: {{ theme.nav.menu.fontWeight }};
    --nav-menu-gap: {{ theme.nav.menu.gap }};
    --nav-menu-primary-align: {{ theme.nav.menu.primary.align }};
    --nav-menu-secondary-align: {{ theme.nav.menu.secondary.align }};
    --nav-menu-tertiary-align: {{ theme.nav.menu.tertiary.align }};
}

.navbar {
    width:100%;
    padding:0;
    background: var(--nav-background);
}

.navbar .navbar_wrapper {
    margin:0 auto;
    width:100%;
	  max-width: var(--theme-max-width, var(--nav-max-width));
    justify-content:var(--nav-justify-content);
    display:flex;
    align-items:center;
    flex: 1;
	  padding: var(--nav-padding) 0;
}

.navbar a {
	color: var(--nav-link-color);
}

.navbar .logo {
  flex: 1;
}
.navbar .logo h1 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: white;
	white-space: nowrap;
}

.navbar .menuList {
	display: flex;
	align-items: center;
	gap: 1rem;
    flex: 2;
}

.navbar .menuList ul{
    width:100%;
    display:flex;
    align-items:center;
    gap:var(--nav-menu-gap);
}
.navbar .menuList .menu-1 {
  justify-content:var(--nav-menu-primary-align);
}

.navbar .menuList .menu-2 {
  justify-content:var(--nav-menu-secondary-align);
}

.navbar .menuList .menu-3 {
  justify-content:var(--nav-menu-tertiary-align);
}

.navbar .menuList  a{
	color: var(--nav-menu-link-color);
	font-size: var(--nav-menu-link-fontSize);
	font-weight: var(--nav-menu-link-fontWeight);
}


/* navbar webcomponent  */

.navbar .hamburger {
  {# border: 1px solid white; #}
}

.navbar .menuList {
    display: none;
}

@media(min-width: 768px) {
  .navbar .hamburger  {
    display: none;
    border: 1px solid white;
  }
  .navbar .menuList {
    display: block;
  }
}



:root {
  --wc-menu-button-color: var(--color-white);
}
side-drawer {
   background-color: var(--color-secondary);
  background-color: #ffffff;
  color: inherit;
  width: 350px;
  max-width: 75vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

wc-menu-button {
  width: 32px;
}

.drawer__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 21px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
}




/* header component  */

.component-header {
    --header-padding: {{ theme.header.padding }};
    --header-color: {{ theme.header.color }};
    --header-background: {{ theme.header.background }};
	  padding: var(--header-padding) 0;
    color: var(--header-color) ;
    background: var(--header-background) ;
}
.component-header * {
    color: var(--header-color) ;
}


/* footer component  */

.component-footer {
    --footer-padding: {{ theme.footer.padding }};
    --footer-color: {{ theme.footer.color }};
    --footer-background: {{ theme.footer.background }};
	  padding: var(--footer-padding) 0;
    color: var(--footer-color) ;
    background: var(--footer-background) ;
}

.component-footer * {
    color: var(--footer-color) ;
}


/* jam11ty sections  */

[id*="jam11ty-section-"] {
  --section-padding: {{ section.padding  }};
  --section-background: {{ section.background  }};
  --section-color: {{ section.color  }};
  --section-item-color: {{ section.itemcolor  }};
  padding: var(--section-padding, 4rem) 0;
  background: var(--section-background);
  color: var(--section-color);
}

[id*="jam11ty-section-"] *{
    color: var(--section-color);
}