  <style>
:root {
    --color-theme-primary: {{ theme.colors.primary }};
    --color-theme-secondary: {{ theme.colors.secondary }};
    --color-theme-tertiary:{{ theme.colors.tertiary }};
    --color-theme-quaternary: {{ theme.colors.orange }};
    --color-theme-orange: {{ theme.colors.orange }};
    --color-theme-blue: {{ theme.colors.blue }};
    --color-theme-red: {{ theme.colors.red }};
    --color-theme-green: {{ theme.colors.green }};
    --color-theme-white:{{ theme.colors.white }};
    --color-theme-black:{{ theme.colors.black }};
    --color-theme-light: {{ theme.colors.light }};
    --color-theme-dark:{{ theme.colors.dark }};
    --color-theme-gray: {{ theme.colors.gray }};
    --color-theme-lightgray: {{ theme.colors.lightgray }};
    --color-theme-darkgray:{{ theme.colors.darkgray }};
    --color-theme-link: {{ theme.colors.link }};
    --color-theme-link-state: {{ theme.colors.linkState }};
    --color-theme-shadow: {{ theme.colors.shadow }};
    --theme-max-width: {{ theme.layout.max_width }};
    --theme-gap: {{ theme.layout.gap }};
    
}
</style>
