<style>
:root {
    --color-primary: var(--color-theme-primary);
	--color-secondary:var(--color-theme-secondary);
	--color-tertiary:var(--color-theme-tertiary);
	--color-quaternary: var(--color-theme-quaternary);
	--color-orange: var(--color-theme-orange);
	--color-blue: var(--color-theme-blue);
	--color-red: var(--color-theme-red);
	--color-green: var(--color-theme-green);
	--color-white:var(--color-theme-white);
	--color-black:var(--color-theme-black);
	--color-light: var(--color-theme-light);
	--color-dark:var(--color-theme-dark);
	--color-gray: var(--color-theme-gray);
	--color-lightgray: var(--color-theme-lightgray);
	--color-darkgray:var(--color-theme-darkgray);
	--color-link:var(--color-theme-link);
	--color-link-state: var(--color-theme-link-state);
	--color-shadow: var(--color-theme-shadow);
	--max-width:var(--theme-max-width);
	--gap:var(--theme-gap);
}
</style>