{# Add CSS :::::::::::::::::::::::::::::::::::::::::::: #}

{% set css %} 
  {% include "./component-settings.njk" %} 
  {% include "./theme-variables.njk" %} 
  {% include "./inlineCSS.css" %} 
{% endset %}

{% block css %}
    <style>{{- css | cssmin | safe -}}</style>
{% endblock %} 


