{# 
# Add CSS Files ::::::::::::::::::::::::::::::::::::::::::::
#}

{% set css %} 
  {% include "./settings.njk" %} 
  {% include "./inlineCSS.css" %} 
{% endset %}

{% block css %}
    <style>{{- css | cssmin | safe -}}</style>
{% endblock %} 


