/* section-navbar  */
.jam11ty-section--navbar {
    width:100%;
    padding:0;
    background: {{ theme.nav.background }};
}

.navbar {
    display:flex;
    align-items:center;
    margin: auto;
    width:100%;
    max-width:{{ theme.nav.maxWidth }};
    justify-content:{{ theme.nav.justify }};
	padding: {{ theme.nav.padding }} 0;
}

.navbar a{
	color: {{ theme.nav.color }};
}
.navbar ul li a{
	color: {{ theme.nav.menu.color }};
	font-size: {{ theme.nav.menu.fontSize }};
	font-weight: {{ theme.nav.menu.fontWeight }};
}

.navbar__logo h1 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: white;
	white-space: nowrap;
}

.navbar__menu {
	display: flex;
	align-items: center;
	gap: 8px
}



/* section-header  */
.jam11ty-section--header {
	--padding: 4rem;
	--text-color: white;
    background: {{ theme.header.background }};
}

.header *{
	color: {{ theme.header.color }};
}

